:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

/* @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap'); */

body {
  font-family: 'Spartan', sans-serif;
  margin: 0;
}

main {
  margin: 80px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* INTRO SECTION */

h1 {
  margin: auto;
  color: var(--dark-magenta);
  font-weight: 700;
  font-size: 2em;
  letter-spacing: -0.05em;
  line-height: 99%;
  max-width: 10ch;
}

.intro p {
  margin: 25px auto;
  color: var(--dark-grayish-magenta);
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 160%;
  max-width: 26ch;
}
















.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}