:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

body {
  font-family: 'spartanthin', sans-serif;
  text-align: center;
}

main {
  margin: 80px 20px;
}


/* INTRO SECTION */

h1 {
  color: var(--dark-magenta);
  font-weight: 700;
}

.intro p {
  color: var(--dark-grayish-magenta);
}
















.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}